.background {
  animation: changeBg 5s infinite alternate linear;
}

@keyframes changeBg {
  0% {
    background: #2A383F;
  }
  25% {
    background: #12353F;
  }
  50% {
    background: #212E34;
  }
  75% {
    background: #2F2B38;
  }
  100% {
    background: #2A3838;
  }
}

.footer-dark-mode {
  fill: white;
}

.gracias, .h2--dark-mode {
  color: white;
}