.background {
  animation: changeBg 5s infinite alternate linear;
}

@keyframes changeBg {
  0% {
    background: #A6D4EA;
  }
  25% {
    background: #86CAE8;
  }
  50% {
    background: #9AC5DA;
  }
  75% {
    background: #A8BDDB;
  }
  100% {
    background: #A7D3DB;
  }
}

.light-text {
  font-weight: 200;
}

/* ---HEADER--- */

.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  padding: 0px 20px;
  height: 30px;

  background: rgba(233, 235, 248, 0.7);
  border-width: 1px 1px 0px 0px;
  border-style: solid;
  border-color: #FFFFFF;
  border-radius: 15px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(10px);
}

.topbar p {
  margin: 0;
}

/* buttons */

/* ES | EN */

.button-es, .button-en {
  border: none;
  background: none;
}

.button-es:hover, .button-en:hover {
  cursor: pointer;
  color: #FFFFFF;
}

/* Light/Dark mode */

.button-modes {
  border: none;
}

.button-modes:hover {
  cursor: pointer;
  box-shadow:
  2px 2px 2px 2px #0002,
  2px 2px 2px 2px #0001;
  transition: all 0.3s ease;
}

/* ---CONTAINERS--- */

.mainpage {
  display: flex;
  flex-direction: column;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
}

/* Generic style containers */

.container {
  margin-top: 40px;
  flex-direction: column;

  background: rgba(233, 235, 248, 0.7);
  border-width: 1px 1px 0px 0px;
  border-style: solid;
  border-color: #FFFFFF;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(10px);
}

.container-form {
  margin-bottom: 12px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  max-width: 90%;
}

.container-form:nth-child(even) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  margin-left: auto;
}

/* container content */

.container--intro {
  margin-right: 15px;
  display: flex;
  max-width: 400px;
  height: 234px;
  flex-direction: row;
}

.container--about {
  padding: 35px;
  max-width: 400px;
  height: 265px;
  margin-left: auto;
}

.container--formacion {
  padding: 25px;
  max-width: 400px;
  height: 350px;
  flex-direction: column;
  text-align: center;
}

.container--software {
  padding: 35px;
  max-width: 435px;
  height: 330px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container--aptitudes {
  max-width: 435px;
  text-align: center;
  flex-direction: column;
}

/* ---INTRO--- */

.emoji {
  width: 231px;
  height: 220px;
  align-self: flex-end;
}

.text-intro {
  padding-top: 25px;
  margin-left: -30px;
}

.formacion-text {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: left;
}

/* ---FORMACION--- */

.svg-crbbcc {
  width: 38.23px;
  height: 40.47px;
}

.svg-artesgraf {
  width: 38.23px;
  height: 40.47px;
}

.svg-postgrado {
  width: 42.27px;
  height: 40.33px;
}

.svg-formacion {
  margin-right: 20px;
}

/* ---PROGRAM & SOFTWARS--- */

.svgs-align {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.svg-wp {
  width: 50px;
  height: 50px;
}

/* ---APTITUDES--*/

.iconos-column {
  columns: 2;
}


/* ---FORMULARIO--- */

.formulario-style {
  background: rgba(233, 235, 248, 0.7);
  border-width: 1px 1px 0px 0px;
  border-style: solid;
  border-color: #FFFFFF;
  border-radius: 15px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(10px);
}

.input-formulario {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.input-name, .input-email {
  width: 282px;
  height: 25px;
  padding: 6px 14px;
  margin-left: 70px;
  margin-right: 70px;
}

.input-mensaje {
  width: 282px;
  padding: 6px 14px;
  margin-left: 70px;
  margin-right: 70px;
}

.input-button {
  width: 137px;
  height: 37px;
}

.input-button:hover {
  cursor: pointer;
  background-color: rgba(233, 235, 248, 0.949);
}

/* ---FOOTER--- */

footer {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 120px;
}

.footer-dark-mode {
  margin: 15px;
}

.gracias {
  display: flex;
  justify-content: center;
  margin-bottom: 80px;
}


@media all and (min-width:800px) {

  .container-form, .container-form:nth-child(even) {
    border-radius: 20px;
    max-width: auto;
  }

  .container--intro {
    width: 400px;
  }

  .container--about {
    width: 400px;
  }

  .container--formacion {
    width: 400px;
  }

  .container--software {
    width: 435px;
    border-radius: 20px;
  }

  .container--aptitudes {
    width: 435px;
    border-radius: 20px;
  }
}